/******** Importando fontes: repositório de fontes dentro de um servidor: Neste caso é o google **********/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/*****************Padronização dos navegadores e de todas as páginas***********/
*{
    padding:0;
    border:0;
    margin:0;
    box-sizing: border-box;
}

   /******smartphone portrait*****/
   /*layout*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

img{
    max-width: 100%;
    height: auto;
}

/****Cabeçalho****/
header{
    height: 80px;
    border-bottom: 2px solid#a9a9a9;
}

#logo{
    float: left;
    margin: 10px 0px 0px 10px
}

#logo img{
    width:65px; 
    height:65px;
}

nav{
    float:right;
}

#check{
    display: none;
}

#mobile{
    font-size: 3em;
    margin-right: 15px;
}

nav ul{
    list-style: none;
    background-color: #d3d3d3;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 80px;
    right:-100%;
    transition: all 0.5s;
}

nav ul li{
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a{
    text-decoration: none;
    color: #343538;
}

#check:checked ~ ul{
    right:0px;
}

/*Site em constução*/

#construcao{
    text-align: center;
    padding: 30px 0px 30px 0px;
}

/*Sobre*/
#Sobre{
    width: 100%;
    height: 100vh;
    
    
}
#sobre h1{
    color: #343538;
    font-size: 2.5em;
    text-align: center;
    margin-top: 10px;
    
    
}
#sobre img{
  
}

#sobre p{
    text-align: left;
    padding: 30px 0px 30px 0px;

}


footer{
    background-color: #343538;
    color: #d3d3d3;
    padding: 30px 0px 30px 0px;
    text-align: center; /*centralização do texto*/
    font-size: 0.875em;
}
    /****Midia Queries****/
    /***smartphone landscape***/
    @media (min-width:576px) {
        .Layout{
            max-width: 540px;
            margin: 0 auto; /*centralizar o bloco no disposito*/
}
}
    /***tablet portrait***/
    @media (min-width:768px) {
        .Layout{
            max-width: 720px;
    
        }
        /*vou mexer no sobre*/
        #sobre h1{
            padding-top: 30px;

        }

    footer{
    font-size: 1em;
}
    /***tablet landscape ou desktop portrait***/
    @media (min-width:992px) {
        .Layout{
            max-width: 960px; /*modificação de cabeçalho e menu*/
}
        header{
        height: 100px;
}
        #logo img{
       width: 15%;
       height: 15%;
}
        #mobile{
       display: none;
}
   nav ul{
       background-color: #ffffff;
       position: static;
       height: auto;
       margin-top: 15px;
}
   nav ul li {
       display: inline-block;
       border:0;
}

   nav ul li a {
       color: #343538;
}
}
}
    /***notebook ou desktop portrait***/
    @media (min-width:1200px) { 
        .Layout{
            max-width: 1140px; /*modificação de cabeçalho e menu*/
        }
        header{
            height: 120px;
            padding-top: 20px;
}

footer{
     padding: 40px 0px 40px 0px;    
}
}
