/******** Importando fontes: repositório de fontes dentro de um servidor: Neste caso é o google **********/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/*****************Padronização dos navegadores e de todas as páginas***********/
*{
    padding:0;
    border:0;
    margin:0;
    box-sizing: border-box;
}

   /******smartphone portrait*****/
   /*layout*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

img{
    max-width: 100%;
    height: auto;
}

/****Cabeçalho****/
header{
    height: 80px;
    border-bottom: 2px solid#a9a9a9;
}

#logo{
    float: left;
    margin: 10px 0px 0px 10px
}

#logo img{
    width:65px; 
    height:65px;
}

nav{
    float:right;
}

#check{
    display: none;
}

#mobile{
    font-size: 3em;
    margin-right: 15px;
}

nav ul{
    list-style: none;
    background-color: #d3d3d3;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 80px;
    right:-100%;
    transition: all 0.5s;
}

nav ul li{
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a{
    text-decoration: none;
    color: #343538;
}

#check:checked ~ ul{
    right:0px;
}

/*Site em constução*/

#construcao{
    text-align: center;
    padding: 30px 0px 30px 0px;
}
/*Contato*/
#contato{
    padding:30px;
}
#contato h1{
    margin-bottom: 0px 0px 25px 0px;
    color: #0000ff;
}

#contato input[type=text] {
    width:100%;
    border: 1px solid #0000ff;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 5px;   
}
#contato textarea{
    width:100%;
    border: 1px solid #0000ff;
    padding:10px 10px 40px 10px;
    border-radius: 5px;
}
#contato input[type=submit] {
    background-color: #0000ff;
    color:#ffffff;
    border-radius: 5px;
    border:1px solid #0000ff;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
}
    

/*Sobre*/
#sobre{
    padding: 15px;   
}

#sobre h1{
    color: #343538;
    font-size: 2.5em;
    padding-bottom: 7px;  
}

#sobre img{
    margin: 0 20px 20px 0;
    padding: 30px 30px 0px 30px;
    border-radius: 50%;
}

#sobre p{
    font-size: 1.1em;
    line-height: 1.30em;
    text-align: justify;
}

footer{
    background-color: #343538;
    color: #d3d3d3;
    padding: 30px 0px 30px 0px;
    text-align: center; /*centralização do texto*/
    font-size: 0.875em;
}

    /****Midia Queries****/
    /***smartphone landscape***/
    @media (min-width:576px) {
        .Layout{
            max-width: 540px;
            margin: 0 auto; /*centralizar o bloco no disposito*/
        }

}
    /***tablet portrait***/
    @media (min-width:768px) {
        .Layout{
            max-width: 720px;
        }

    footer{
    font-size: 1em;
    }
}
    /***tablet landscape ou desktop portrait***/
    @media (min-width:992px) {
        .Layout{
            max-width: 960px; /*modificação de cabeçalho e menu*/
    }
        header{
        height: 100px;
    }
        #logo img{
       width: 15%;
       height: 15%;
    }
        #mobile{
       display: none;
    }
   nav ul{
       background-color: #ffffff;
       position: static;
       height: auto;
       margin-top: 15px;
    }  
   nav ul li {
       display: inline-block;
       border:0;
    }

   nav ul li a {
       color: #343538;
    }
}
    /**** notebook ou desktop ****/
    @media (min-width:1200px) { 
        .Layout{
            max-width: 1140px; /*modificação de cabeçalho e menu*/
        }
        header{
            height: 120px;
            padding-top: 20px;
        }
 /* rodapé */
footer{
     padding: 40px 0px 40px 0px;    
}
}
